.back_to_top_btn {
  display: inline-block;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
.back_to_top_btn svg {
  color: var(--primary);
  font-size: 30px;
  padding: 2px;
  margin: 0px;
  border-radius: 7px;
}

.back_to_top_btn svg:hover {
  cursor: pointer;
  color: #ffa34f;
}

.back_to_top_btn.show {
  opacity: 1;
  visibility: visible;
}

.back_to_top_btn.focus,
.back_to_top_btn:hover,
.back_to_top_btn:active {
  outline: none !important;
  box-shadow: none !important;
}
